.chatroom {
    display: flex;
    flex-direction: column;
    height: 70vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    padding: 8px;
    border-radius: 4px;
    margin: 5px 0;
    background-color: #f1f1f1;
}

.input-area {
    display: flex;
    justify-content: space-between;
}

.inputChat {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.submit {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.submit:hover {
    background-color: #0056b3;
    width: 150px;
    transition: none;
}

.you-label {
    color: #007bff;
    font-weight: bold;
    margin-right: 5px;
}

.bot-label {
    color: #ff00f2;
    font-weight: bold;
    margin-right: 5px;
}
