.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.popup button.yes {
    background-color: #ff4d4d;
    color: white;
}

.popup button.no, .popup button.ok {
    background-color: #4caf50;
    color: white;
}

.popup button:hover {
    width: 155px;
}
